<!DOCTYPE html>
<html lang="en" ng-app="ToDoList">

<head>
  <meta charset="utf-8">
  <title>To-do List</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/todoList.js"></script>
  <script src="js/todoListController.js"></script>
  <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
  <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
</head>

<body ng-controller="ToDoListController as listController">
<div>
  <p><strong>Task Manager</strong></p>
  <form class="taskmanager">
    <input type="text" name="inputTask" ng-model="listController.inputTask" placeholder="What needs doing?">
    <button class="button" ng-click="listController.addTask()">Add Task</button>
  </form>
</div>
<div>
  <ul class="tasklist" ng-show="listController.isView(1)">
    <li ng-repeat="item in listController.theList">
      <span>{{ item.task }}</span>
      <input type="checkbox" ng-click="listController.complete(item)">
      <a href="#" editable-text="task">{{ "edit" || "empty" }}</a>
      <button type="button" ng-click="listController.removeTask($index)" class="btn btn-danger btn-sm pull-right" >Del</button></td>
    </li>
  </ul>

  <ul class="filteredTaskList" ng-show="listcontroller.isView(2)">
    <li class="list-group-item" ng-repeat="item in listcontroller.theList | filter:{completed: false}">
      <span>{{item.task}}</span>
    </li>
  </ul>

  <ul class="filteredTaskList" ng-show="listcontroller.isView(3)">
    <li class="list-group-item" ng-repeat="item in listcontroller.theList | filter:{completed: true}">
      <span>{{item.task}}</span>
    </li>
  </ul>
</div>

<button class="btn-large" ng-click="listController.setView(1)">All</button>
      <button class="btn-large" ng-click="listController.setView(2)">Uncompleted</button>
      <button class="btn-large" ng-click="listController.setView(3)">Completed</button>
      <button class="btn-large" ng-click="listController.clearCompleted()">Clear completed</button>
      <button class="btn-large" ng-click="listController.clearAll()">Clear All</button>
</body>


</html>
